@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #000;
    color: #ebff08;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Press Start 2P', monospace;
}

.retro-text {
    font-size: 3vh;
    text-shadow: 0 0 2px #ebff08, 0 0 5px #ebff08, 0 0 7px #ebff08;
    text-align: center;
    flex-direction: row;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .retro-text {
        font-size: 2.5vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
    }
}

#content-1 {
    display: flex;
    gap: 0.5rem;
}

#content-1>img {
    width: 80%;
    height: auto;
    vertical-align: middle;
    margin-left: 10%;
}