<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time in Colombo</title>
    <link rel="stylesheet" href="./views/styles/styles.css">
</head>

<body>
    <h1 class="retro-text">Time in colombo at the instant you loaded this page: </h1>
    <br>
    <h2 class="retro-text">
        <%= timeInColombo %>
    </h2>
</body>

</html>